<!-- Começo -->
<div th:replace="compartilhado/top"></div>
<!--conteudo-->
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h3 class="mt-2">Editar cadastro do Pet</h3>
            <a href="/animal" class="btn btn-primary" style="margin-bottom: 20px;">Voltar</a>

            <!-- DataTales Example -->
            <div class="card shadow mb-2" style="padding: 30px;">

                <form method="post" th:action="@{'/animal/' + ${animal.id} + '/atualizar'}">
                    <div class="row">
                        <div class="col-md-4">
                        <label for="nome"> Nome:</label>
                        <input class="form-control" th:value="${animal.nome}" type="text" name="nome" id="nome"
                            placeholder="" required>
                        <br>
                    </div>

                    <div class="col-md-4">
                        <label for="dataDeNascimento"> Data de nascimento:</label>
                        <input class="form-control" th:value="${animal.dataDeNascimento}" type="date"
                            id="dataDeNascimento" name="dataDeNascimento" required> <br>
                    </div>

                    <div class="col-md-4">
                        <label for="raca"> Raça:</label>
                        <input class="form-control" th:value="${animal.raca}" type="text" id="raca" name="raca"> <br>
                    </div>

                    <div class="col-md-4">
                        <label for="pelo"> Cor da pelagem:</label>
                        <input class="form-control" th:value="${animal.corDaPelagem}" type="text" id="corDaPelagem"
                            name="corDaPelagem"> <br>
                    </div>

                    <div class="col-md-4">
                        <label for="numeracaoMicroChip"> Número do microchip:</label>
                        <input class="form-control" th:value="${animal.numeracaoMicroChip}" type="text"
                            id="numeracaoMicroChip" name="numeracaoMicroChip"> <br>
                    </div>

                    <div class="col-md-4">
                        <label for="rga"> Número do RGA:</label>
                        <input class="form-control" th:value="${animal.registroGeralDoAnimal}" type="text"
                            id="registroGeralDoAnimal" name="registroGeralDoAnimal"> <br>
                    </div>

                    <div class="col-md-4">
                        <label for="especie"> Espécie:</label> <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="especie" id="especie" value="Cachorro"
                                checked="checked">
                            <label class="form-check-label" for="cachorro1"> Cachorro </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="especie" id="especie" value="Gato"
                                checked="checked">
                            <label class="form-check-label" for="gato2"> Gato </label>
                        </div>

                        <br>
                    </div>

                    <div class="col-md-4">
                        <label for="sexo"> Sexo:</label> <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sexo" id="macho" value="Macho"
                                checked="checked">
                            <label class="form-check-label" for="macho1"> Macho </label> <br>

                            <input class="form-check-input" type="radio" name="sexo" id="femea" value="Fêmea"
                                checked="checked">
                            <label class="form-check-label" for="femea2"> Fêmea </label>
                        </div>

                    </div>

            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>



    </main>
    <!-- fim -->
    <div th:replace="compartilhado/baixo"></div>