<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/lib/bootstrap-5.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/animal-novo.css">
  <title>Pet Vac Care</title>
</head>


<header>
  <div class="img-fluid mx-auto float-right selo"></div>
</header>

<body>
<div class="container-fluid">
  <div class="row">

    <div class="col-4 text-center"><br>
      <div class="image">   
        <a>
          <a class="navbar-brand ps-3" href="/"></a><img src="/img/logo_novo.png" alt="profile" border="0"/>
        </a>
      </div>
    </div>

    <div class="col-4"><br>
      <h1>Cadastro de animal</h1> <br>
      <form method="post" id="form-cadastro" action="/animal/criar"
            onsubmit="return confirm('Confirma ação')">
        <div class="form-group">
          <label for="nome"> Nome:</label>
          <input class="form-control" type="text" name="nome" id="nome" placeholder="digite o nome do pet"
                 required> <br>
        </div>

        <div class="form-group">
          <label for="dataDeNascimento"> Data de nascimento:</label>
          <input class="form-control" type="date" id="dataDeNascimento" name="dataDeNascimento" required> <br>
        </div>

        <div class="form-group">
          <label for="raca"> Raça:</label>
          <input class="form-control" type="text" id="raca" name="raca"> <br>
        </div>

        <div class="form-group">
          <label for="pelo"> Cor da pelagem:</label>
          <input class="form-control" type="text" id="corDaPelagem" name="corDaPelagem"> <br>
        </div>

        <div class="form-group">
          <label for="microchip"> Número do microchip:</label>
          <input class="form-control" type="text" id="microchip" name="microchip"> <br>
        </div>

        <div class="form-group">
          <label for="rga"> Número do RGA:</label>
          <input class="form-control" type="text" id="rga" name="rga"> <br>
        </div>

        <div class="form-group">
          <label for="especie"> Espécie:</label> <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="especie" id="cachorro1" value="Cachorro">
            <label class="form-check-label" for="cachorro1"> Cachorro </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="especie" id="gato2" value="Gato">
            <label class="form-check-label" for="gato2"> Gato </label>
          </div>

          <br>
        </div>

        <div class="form-group">
          <label for="sexo"> Sexo:</label> <br>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="sexo" id="macho1" value="Macho">
            <label class="form-check-label" for="macho1"> Macho </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="sexo" id="femea2" value="Fêmea">
            <label class="form-check-label" for="femea2"> Fêmea </label>
          </div>

        </div>

        <div class="form-group text-center">
          <button type="submit" class="btn btn-dark">Salvar</button>
        </div>
      </form>
    </div>

  </div>
</div>

</div>

<script src="/js/animal/animal-novo.js"></script>
<script src="/lib/jquery-3.6.1/js/jquery-3.6.1.min.js"></script>
<script src="/lib/bootstrap-5.1.3/js/bootstrap.min.js"></script>

</body>
</html> 
