<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Pet Vac Care</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="content">
        <div class="header" id="header">
           <button onclick="toggleSidebar()" class="btn_icon_header">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
           </button>
            <div class="logo_header">
                <img src="/logo_pvc.png" class="img_logo_pvc" alt="Logo Pet Vac Care">
            </div>
            <div class="navigation_header" id="navigation_header">
                <button onclick="toggleSidebar()" class="btn_icon_header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
                <a href="/"><img src="/icon_home.png" class="img_icon_home" alt="Home"></a>
                <a href="#"><img src="/icon_cadastrar.png" class="/img_icon_cadastrar" alt="Cadastrar Carteira de Vacinação"></a>
            </div>
        </div>
        
        <div class="table">
            <table class="content-table table-hover">
                <thead>
                    <tr>
                        <th> ID</th>
                        <th> Nome</th>
                        <th>Espécie</th>
                        <th> Data de Nascimento</th>
                        <th> Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="animal : ${animais}">
                        <td th:text="${animal.id}"></td>
                        <td th:text="${animal.nome}"></td>
                        <td th:text="${animal.especie}"></td>
                        <td th:text="${animal.dataDeNascimento}"></td>
                        <td data-title="Ação"><a th:href="@{'/cadastro/' + ${animal.id}}"><img src="/button_alterar.png" class="button_alterar" alt="Alterar Cadastro"></a> 
                            <a a href="#" th:onclick="'if(confirm(\'Confirma ?\')) { window.location.href = \''+ @{/cadastro/{id}(id=${animal.id})} + '/excluir\' } '"><img src="/button_excluir.png" class="button_excluir" alt="Excluir cadastro"></a></td>
                    </tr>
                   
                </tbody>
            </table>
        
         
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>

    
    <script>
        var header = document.getElementById('header');
        var navigationHeader = document.getElementById('navigation_header');
        var showSidebar = false;

        function toggleSidebar()
        {
           showSidebar = !showSidebar;
           if(showSidebar)
           {
            navigationHeader.style.marginLeft = '-10vw';
            navigationHeader.style.animationName = 'showSidebar';
           }
           else
           {
            navigationHeader.style.marginLeft = '-100vw';
            navigationHeader.style.animationName = '';
           }
           
        }   

        window.addEventListener('resize', function(event) {
            if(window.innerWidth > 768 && showSidebar)
            {
                toggleSidebar();
            }
        });
                    
    </script>
       
</html>