<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilo.css">
    <title>Pet Vac Care</title>
</head>

<header>
    <div class="img-fluid mx-auto float-right selo"></div>
</header>

<body>
    <div class="container-fluid">
        <div class="row">


            <div class="col-4 text-center"> <br>
                <div class="image">
                    <div class="editar-content">
                        <span>
                            <i>editar</i>
                        </span>
                    </div>
                    <div id="new">
                        <div class="close-preview-js close-preview">x</div>
                    </div>
                    <a href="https://imgbb.com/"><img src="https://i.ibb.co/n1sXHbQ/profile.png" alt="profile" border="0" /></a>
                </div>
                <br>
                <input id="file-preview-js" type="file" accept="image/*" onchange="loaderFile(event)"> <br><br>
                <button type="submit" class="btn btn-dark">Salvar</button>
            </div>

            <div class="col-4"> <br>
                <h1>Cadastro de animal</h1> <br>
                <form method="post" id="form-cadastro" action="/cadastro/criar"
                    onsubmit="return confirm('Confirma ação')">
                    <div class="form-group">
                        <label for="nome"> Nome:</label>
                        <input class="form-control" type="text" name="nome" id="nome" placeholder="digite o nome do pet"
                            required> <br>
                    </div>

                    <div class="form-group">
                        <label for="dataDeNascimento"> Data de nascimento:</label>
                        <input class="form-control" type="date" id="dataDeNascimento" name="dataDeNascimento" required> <br>
                    </div>

                    <div class="form-group">
                        <label for="raca"> Raça:</label>
                        <input class="form-control" type="text" id="raca" name="raca"> <br>
                    </div>

                    <div class="form-group">
                        <label for="pelo"> Cor da pelagem:</label>
                        <input class="form-control" type="text" id="corDaPelagem" name="corDaPelagem"> <br>
                    </div>

                    <div class="form-group">
                        <label for="microchip"> Número do microchip:</label>
                        <input class="form-control" type="text" id="microchip" name="microchip"> <br>
                    </div>

                    <div class="form-group">
                        <label for="rga"> Número do RGA:</label>
                        <input class="form-control" type="text" id="rga" name="rga"> <br>
                    </div>

                    <div class="form-group">
                        <label for="especie"> Espécie:</label> <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="especie" id="cachorro1" value="Cachorro">
                            <label class="form-check-label" for="cachorro1"> Cachorro </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="especie" id="gato2" value="Gato">
                            <label class="form-check-label" for="gato2"> Gato </label>
                        </div>

                        <br>
                    </div>

                    <div class="form-group">
                        <label for="sexo"> Sexo:</label> <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sexo" id="macho1"  value="Macho">
                            <label class="form-check-label" for="macho1"> Macho </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sexo" id="femea2" value="Fêmea">
                            <label class="form-check-label" for="femea2"> Fêmea </label>
                        </div>

                    </div>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-dark">Salvar</button>
            </div>

            </form>

        </div>
    </div>
    </div>

    <script src="/js/novo.js"> </script>
    <script src="/js/jquery-3.4.1-slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    </body>
</html> 