<!-- Começo -->
<div th:replace="compartilhado/top"></div>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h3 class="mt-4">Detalhes da carteira</h3>
            <a href="/carteira" class="btn btn-primary" style="margin-bottom: 20px;">Voltar</a>

            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <br><b>Id: </b> <span th:text="${carteira.id}"></span>
                            </thead>
                        </table>
                    </div>
                    <br>
                    <br>
                    <b> Animais Associados:</b>
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id Animal</th>
                                <th>Animal</th>
                            </tr>
                        </thead>
                         <tr th:each="animal : ${carteira.animais}">
                            <td th:text="${animal.id}"></td>
                            <td th:text="${animal.nome}"></td>
                           
                        </tr> 
                    </table>
                    <br>
                    <form th:action="@{/associarAnimalCarteira(idcarteira=${carteira.id})}" method="POST">
                        <label><b>Animais:</b></label>
                        <select name="id" required>
                            <option value="">Escolha o animal</option>
                            <option th:each="animal : ${animais}" th:value="${animal.id}" th:text="${animal.nome}">
                            </option>
                        </select>
                        <input type="submit" class="btn btn-primary" value="Associar Animal"/>
                    </form> 

                </div>
            </div>

        </div>

        

    </main>
<!-- fim -->
<div th:replace="compartilhado/baixo"></div>