<!-- Começo -->
<div th:replace="compartilhado/top"></div>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h3 class="mt-4">Detalhes do Tutor</h3>
            <a href="/tutor" class="btn btn-primary" style="margin-bottom: 20px;">Voltar</a>

            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <br><b>Nome: </b> <span th:text="${tutor.nome}"></span>
                                <br><b>Data de nascimento: </b> <span th:text="${tutor.dataNascimento}"></span>
                                <br><b>E-mail: </b> <span th:text="${tutor.email}"></span>
                                <br><b>Telefone: </b> <span th:text="${tutor.telefone}"></span>
                            </thead>
                        </table>
                    </div>
                    <br>
                    <br>
                    <b> Animais Associados:</b>
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id Animal</th>
                                <th>Animal</th>
                                <th>Data de nascimento</th>
                                <th>Especie</th>
                                <th>Sexo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr th:each="animal : ${tutor.animais}">
                            <td th:text="${animal.id}"></td>
                            <td th:text="${animal.nome}"></td>
                            <td th:text="${animal.dataDeNascimento}"></td>
                            <td th:text="${animal.especie}"></td>
                            <td th:text="${animal.sexo}"></td>
                           
                        </tr>
                    </table>
                    <br>
                    <form th:action="@{/associarAnimalTutor(codigotutor=${tutor.codigo})}" method="POST">
                        <label><b>Animais:</b></label>
                        <select name="id" required>
                            <option value="">Escolha o animal</option>
                            <option th:each="animal : ${animais}" th:value="${animal.id}" th:text="${animal.nome}">
                            </option>
                        </select>
                        <input type="submit" class="btn btn-primary" value="Associar Animal"/>
                    </form>

                </div>
            </div>

        </div>

        

    </main>
<!-- fim -->
<div th:replace="compartilhado/baixo"></div>