<!-- Começo -->
<div th:replace="compartilhado/top"></div>

<!--conteudo-->
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h3 class="mt-4">Vacinas dos Pet's</h3>
            
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <a href="/carteira"class="m-0 font-weight-bold text-primary" style="display: inline-block;">Voltar</a>
                    
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nome do animal</th>
                                    <th></th>
                                    <th></th>
            
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="carteira : ${carteiras}">
                                    <td th:text="${carteira.id}"></td>
                                    <td th:text="${carteira.nomeAnimal}"></td>
                                    <td> <a th:href="@{'/detalhesCarteira/' + ${carteira.id}}">Detalhes</a></td>
                                    <td> <a th:href="@{'/vacina'}">Vacinas</a></td>
                                    
                                    <td><a href="#"
                                            th:onclick="'if(confirm(\'Confirma ?\')) { window.location.href = \''+ @{/carteira/{id}(id=${carteira.id})} + '/excluir\' } '"
                                            class="btn"> <input type=image src="/img/button_excluir.png" width="36">
                                    </td> 
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
      
    </main>
<!-- fim -->
<div th:replace="compartilhado/baixo"></div>