:root{
    --bs-body-bg: #fff;
    --bs-body-color:  #cb6ce6;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/paws.svg);
    width: 100%;
    height: 100vh;
    text-align: center;    
       
}

.img_logo_pvc{
    width: 100px;
}

.img_icon_home{
    width: 70px;
}

.header,
.navigation_header{
    display: flex;
    flex-direction:row;
    align-items: center;    
}
.header{
    background-color: var(--bs-body-color);
    justify-content: space-between;
    padding: 0 5%;
    width: 100%;
}
.navigation_header{
    gap: 2px;
}

.btn_icon_header{
    
    background-color: transparent;
    border: none;
    color: var(--bs-body-bg);
    cursor: pointer;
    display:none;
}
@media screen and (max-width:768px) {
    .btn_icon_header{
        display:block;
    }
    .navigation_header{
        position:absolute;
        flex-direction:column;
        top: 0;
        background-color: var(--bs-body-color);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}
@keyframes showSidebar{
    from{
        margin-left: -100vw;
    }
    to{
        margin-left: -10vw;
    }
}

.form{
    width: 80%;
    padding-left: 20%;    
}
.form-header{
    margin-top: 2rem;
    justify-content: space-between;
    background-color: var(--bs-body-color);
    color:var(--bs-body-bg); 
}
.input-group{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;    
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-top: 1.1rem;
    width: 80%;
    text-align: center;
    padding-left: 20%;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8 rem 1.2 rem;
    height: 40px;
    border: 2px solid var(--bs-body-color);
    border-radius: 5px 5px 5px 5px;
}

.input-box input:hover{
    background-color: rgb(240, 184, 226);
}

.cadastrar_btn{
    display:inline-block;        
}

.cadastrar_btn button {
    display:inline-block;
    text-decoration:none;
    padding:6px 4px;
    border:2px solid var(--bs-body-color);
    background-color:var(--bs-body-color);    
    font:15px arial, sans-serif;    
    outline:none;
}

.cadastrar_btn button a{
    text-decoration:none;
    color: var(--bs-body-bg);
}

.cancelar_btn{
    display: inline-block;
}
.cancelar_btn button{
    display:inline-block;
    text-decoration:none;
    padding:6px 4px;
    border:2px solid var(--bs-body-color);
    background-color:var(--bs-body-color);
    color:#333;
    font:15px arial, sans-serif;
    outline:none;
}

.cancelar_btn button a{
    text-decoration:none;
    color:var(--bs-body-bg);
}


